.form{
margin: 2rem;
}
.buttons{
  display: flex;
  justify-content: right;
  width: 60%;
}

.buttons button{
    font-size: 1rem;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: .5rem 1rem;
  /* border:1px solid #000; */
  text-shadow: 0 0.0625rem 0 rgba(255, 255, 255, 0.4);
  /* background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%); */
  transition: all 0.2s ease;
}

.buttons button:last-child{
    margin-left: .5rem;
    background: #D9D9D9;
    color:#292929;
  }
  .buttons button:not(:last-child){
    font-weight: 700;
  }
.buttons button:not(:last-child):hover{
    text-decoration: underline;
    background: none;

  }

  .buttons button:hover {
    transform: translateY(-1.6px);
    background: #b8b8b8;

  }