.fullCard{
    width: 100%;
    display: flex;
  }

  .card {
    position: relative;
    margin: 0.5em;
    /* border-radius: 0.625rem; */
    text-align: left;
    /* padding: 0.8em; */
    width: 12rem;
    border: 1px solid green;
    /* width: ; */
    transition: all 0.3s ease-in-out;
  }

  .card .image {
    height: 11.8125rem;
    width: 12rem;
    /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35); */
    border: 1px solid red;
    overflow: hidden;
    position: relative;
    margin: 0 0 0.5rem;
  }
  
  .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
  }

  .card .image img:hover {
    transform: scale(1.2);
  }

  .card figcaption p{
    margin: .2rem 0 0;
    opacity: .8;
  }
  .card figcaption div{
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    margin: .5rem 0;
    opacity: .6;
  }